{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="{{ details.imagesURL }}"> </div>

                        </div>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{ details.name }}</h2>
                        <h5> <del></del> {{ details.price }}</h5>
                        <p class="available-stock"><span> More than 20 available / <a href="#">8 sold </a></span><p>
						<h4>Short Description:</h4>
						<p>{{ details.descriptions }}</p>


						<div class="price-box-bar">
							<div class="cart-and-bay-btn">
								<a class="btn hvr-hover" data-fancybox-close="" href="{% url 'shop' %}">Buy New</a>
								<a data-product ="{{ details.id }}" data-action="add" class="btn hvr-hover update-cart" data-fancybox-close="" href="#">Add to cart</a>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                    <div class="row">
                         {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="products-single fix">
                                <div class="box-img-hover">

                                    <img src="{{ product.imagesURL }}" class="thumbnail" alt="Image">
                                    <div class="mask-icon">

                                        <a data-product ="{{ product.id }}" data-action="add" class="cart update-cart"  href="#">Add to Cart</a>



                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>{{ product.name }}</h4>
                                    <h5> $ {{ product.price }}</h5>
                                    <a href="{% url 'details' product.id %}" style="float:right"class="btn hvr-hover"  href="#">Details</a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}