{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div id="slides-shop" class="cover-slides">
                <ul class="slides-container">
                    {% for item in images %}
                    <li class="text-center">
                        <img src="{{ item.imagesURL }}" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Miniport</strong></h1>
                                    <p class="m-b-40">Grab your product with premium quality  <br> With extra offer.</p>
                                    <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="container clearfix">

                <!-- Shop Categories
                ============================================= -->
                <div class="fancy-title title-border title-center mb-4 mt-5">
                    <h4>Shop popular categories</h4>
                </div>

                <div class="row shop-categories clearfix">
                    {% for cate in category %}
                    <div class="col-lg-4">
                        <a href="/shop/?category={{cate.id}}" style="background: url('{{ cate.image_front }}') no-repeat center center; background-size: cover;">
                            <div class="vertical-middle dark center">
                                <div class="heading-block m-0 border-0">
                                    <h3 class="nott fw-semibold ls0">{{ cate.title }}</h3>
                                    <small class="button bg-white text-dark button-light button-mini">Browse Now</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>

                <!-- Featured Carousel
                ============================================= -->
                
		
                <div class="fancy-title title-border topmargin-sm mb-4 title-center">
                    <h4>Our Products</h4>
                </div>

                <div class="row grid-6">

                    <!-- Shop Item 1
                    ============================================= -->
                    <div class="col-lg-2 col-md-3 col-6 px-2">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="{% static 'demos/shop/images/items/new/test.webp' %}" alt="Image 1"></a>
                                <a href="#"><img src="{% static 'demos/shop/images/items/new/test.webp' %}" alt="Image 1"></a>
                                <!-- <a href="#"><img src="{% static 'demos/shop/images/items/new/1-1.jpg' %}" alt="Image 1"></a> -->
                                <div class="sale-flash badge bg-danger p-2">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="#" class="btn btn-dark me-2"><i class="icon-shopping-basket"></i></a>
                                        <a href="demos/shop/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title mb-1"><h3><a href="#">Light Blue Denim</a></h3></div>
                                <div class="product-price font-primary"><del class="me-1">$24.99</del> <ins>$12.49</ins></div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 px-2">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="{% static 'demos/shop/images/items/new/test.webp' %}" alt="Image 1"></a>
                                <a href="#"><img src="{% static 'demos/shop/images/items/new/test.webp' %}" alt="Image 1"></a>
                                <!-- <a href="#"><img src="{% static 'demos/shop/images/items/new/1-1.jpg' %}" alt="Image 1"></a> -->
                                <div class="sale-flash badge bg-danger p-2">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="#" class="btn btn-dark me-2"><i class="icon-shopping-basket"></i></a>
                                        <a href="demos/shop/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title mb-1"><h3><a href="#">Light Blue Denim</a></h3></div>
                                <div class="product-price font-primary"><del class="me-1">$24.99</del> <ins>$12.49</ins></div>
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="fancy-title title-border title-center">
                    <h4>Weekly Featured Items</h4>
                </div>
                <div id="oc-products" class="owl-carousel products-carousel carousel-widget" data-margin="20" data-loop="true" data-autoplay="5000" data-nav="true" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4" data-items-xl="5">
		
                    <!-- Shop Item 1
                    ============================================= -->
                    <div class="oc-item">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="{% static 'demos/shop/images/items/featured/1.jpg' %}" alt="Round Neck T-shirts"></a>
                                <a href="#"><img src="{% static 'demos/shop/images/items/featured/1-1.jpg' %}" alt="Round Neck T-shirts"></a>
                                <div class="sale-flash badge bg-danger p-2">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="#" class="btn btn-dark me-2"><i class="icon-shopping-basket"></i></a>
                                        <a href="demos/shop/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title mb-1"><h3><a href="#">Round Neck Solid Light Blue Colour T-shirts</a></h3></div>
                                <div class="product-price font-primary"><del class="me-1">$24.99</del> <ins>$12.49</ins></div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/laptop3.jpg" alt="" />
                                <a class="btn hvr-hover" >Laptop</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/samsung11.jpeg" alt="" />
                                <a class="btn hvr-hover" >Mobile</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/watch3.jpg" alt="" />
                                <a class="btn hvr-hover" >Watch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-add-products">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="offer-box-products">
                                <img class="img-fluid" src="images/product1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="offer-box-products">
                                <img class="img-fluid" src="images/product2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}