{% extends 'base.html' %}
{% load static %}
{% block content %}


        <div id="slides-shop" class="cover-slides">
                <ul class="slides-container">
                    <li class="text-center">
                        <img src="images/router.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Miniport</strong></h1>
                                    <p class="m-b-40">Grab your product with premium quality  <br> With extra offer.</p>
                                    <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <img src="images/router1.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Miniport</strong></h1>
                                    <p class="m-b-40">Grab your product with premium quality  <br> With extra offer.</p>
                                    <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <img src="images/cable1.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Miniport</strong></h1>
                                    <p class="m-b-40">Grab your product with premium quality  <br> With extra offer.</p>
                                    <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="text-center">
                        <img src="images/router2.jpg" alt="">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="m-b-20"><strong>Welcome To <br> Miniport</strong></h1>
                                    <p class="m-b-40">Grab your product with premium quality  <br> With extra offer.</p>
                                    <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/cable2.jpg" alt="" />
                                <a class="btn hvr-hover" >Cable</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/tplink2.jpg" alt="" />
                                <a class="btn hvr-hover" >Router</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box">
                                <img class="img-fluid" src="images/switch.jpg" alt="" />
                                <a class="btn hvr-hover" >Switch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="box-add-products">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="offer-box-products">
                                <img class="img-fluid" src="images/product1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="offer-box-products">
                                <img class="img-fluid" src="images/product2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}