{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                         {% for product in products %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">

                                                    <img src="{{ product.imagesURL }}" class="thumbnail" alt="Image">
                                                    <div class="mask-icon">

                                                        <a data-product ="{{ product.id }}" data-action="add" class="cart update-cart"  href="#">Add to Cart</a>



                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ product.name }}</h4>
                                                    <h5> $ {{ product.price }}</h5>
                                                    <a href="{% url 'details' product.id %}" style="float:right"class="btn hvr-hover"  href="#">Details</a>

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">

                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                {% for category in category %}
                                <a href="/shop/?category={{category.id}}" class="list-group-item list-group-item-action"> {{ category.title }}  <small class="text-muted"> </small></a>
                                {% endfor %}
                                <!--<a href="#" class="list-group-item list-group-item-action"> Laptop <small class="text-muted">(11)</small></a>
                                <a href="#" class="list-group-item list-group-item-action"> switch  <small class="text-muted">(150) </small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Router <small class="text-muted">(11)</small></a>
                                <a href="#" class="list-group-item list-group-item-action"> Cable <small class="text-muted">(22)</small></a>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<script>
    console.log("ppppppppp")
</script>