{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <div class="row mt-5 mb-5">

        <div class="col-sm-3">
            <h1>Sign Up</h1>

        </div>
        <div class="col-sm-6">

            <form class="mt-5" method="post" action="" novalidate>
                {% csrf_token %}
                {% for fm in form%}
                {{fm.label}} {{fm}} {{fm.errors|striptags}}<br>
                {% endfor %}
                <button class="btn hvr-hover" type="submit">Sign Up</button>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="btn-warning">{{ error }}</p>
                {% endfor %}
                {% endif %}


            </form>

        </div>

</div>


</div>










{% endblock content %}