{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bs-select.css' %}" type="text/css" />
<style>

	.white-section {
		background-color: #FFF;
		padding: 25px 20px;
		-webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
		box-shadow: 0px 1px 1px 0px #dfdfdf;
		border-radius: 3px;
	}

	.white-section label {
		display: block;
		margin-bottom: 15px;
	}

	.white-section pre { margin-top: 15px; }

	.dark .white-section {
		background-color: #111;
		-webkit-box-shadow: 0px 1px 1px 0px #444;
		box-shadow: 0px 1px 1px 0px #444;
	}

	</style>
{% endblock css %}
{% block content %}
<div class="shop-box-inner">
      <div class="container">
        <div class="white-section form-address">
            <div class="row" style="background-color: #F5F5F5; padding: 17px;">
                <div class="col-lg-6" id="pro-id" style="padding: 18px;">
                    <label >Select Province *</label>
                    <select name="province" class="selectpicker customjs filter-item" data-size="7" data-live-search="true" title="Select Province" style="width:100%; line-height: 30px;">
                    <optgroup id="province">
                        {% if details.province %}
                                <option value="{{ details.province.id }}">{{ details.province.name }}</option>
                        {% endif %}
                        {% for x in province %}
                          <option value="{{ x.id }}">{{ x.name }}</option>
                        {% endfor %}
                        
                    </optgroup>
                    </select>
                </div>
                <div class="col-lg-6" id="city-id" style="padding: 18px;">
                    <label>Select City *</label>
                        <select name="city" class="selectpicker customjs filter-item" data-size="7" data-live-search="true" title="Select City" style="width:100%; line-height: 30px;">
                        <optgroup id="city">
                          {% if details.city %}
                              <option value="{{ details.city.id }}"> {{ details.city.name }} </option>
                          {% endif %}
                          {% for x in city %}
                              <option value="{{ x.id }}">{{ x.name }}</option>
                          {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="col-lg-12 mt-5" id="area-id" style="padding: 18px;">
                    <label>Area *</label>
                        <select name="area" class="selectpicker customjs filter-item" data-size="7" data-live-search="true" title="Select Area" style="width:100%; line-height: 30px;">
                            <optgroup id="area">
                              {% if details.area %}
                                  <option value="{{ details.area.id }}"> {{ details.area.name }} </option>
                              {% endif %}
                            </optgroup>
                        </select>
                </div>
                <div class="col-lg-12 mt-5" id="address-id">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Address *</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ details.address }}</textarea>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-auto pe-lg-0 text-center">
          <a href="#" class="button button-3d button-black m-0 sub">Update</a>
      </div>
      </div>
</div>
{% endblock content %}


{% block js %}
  <script>
    $(document).ready(function() {
      $('.sub').on('click',function(){
          let province = $('#province').parent().val()
          let city = $('#city').parent().val()
          let area = $('#area').parent().val()
          let address = $('#exampleFormControlTextarea1').val()
          var url = '{% url "save" %}'
          fetch(url, {
              method : 'POST',
              headers : {
                  'Content-Type':'application/json',
                  'X-CSRFToken': csrftoken,
              },
              body:JSON.stringify({'province':province,'city':city,'area':area,'address':address})
          })
          .then((response) => response.json())
          .then((data) => {
              alert('transaction complete');
              window.location.href = "{% url 'shop' %}"
          })
      })
      
      $('#province').parent().on('change', function() {
            let province = $('#province').parent().val()
            $.ajax({
            url: '{% url "province" %}',
            type: 'GET',
            data : {
                    'province': province
            },
            success: function(resp){
                $('#city').empty()
                $('#area').empty()
                resp.data.forEach(x => {
                    $(`<option value="${ x.id }">${ x.name }</option>`).appendTo($("#city"))
                });
                $('#city').parent().selectpicker('refresh');
            }
        });
      })
      $('#city').parent().on('change', function() {
          let city = $('#city').parent().val()
            $.ajax({
              url: '{% url "city" %}',
              type: 'GET',
              data : {
                      'city': city
              },
            success: function(resp){
                $('#area').empty()
                resp.data.forEach(x => {
                $(`<option value="${ x.id }">${ x.name }</option>`).appendTo($("#area"))
                });
                $('#area').parent().selectpicker('refresh');
            }
          });
        })
    })
    
  </script>
{% endblock js%}