{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="/images/about.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Miniport Technology</span></h2>
                    <p>ISO 9001:2000 : Computer Source is been certified by ISO 9001:2000 for Distribution, Solution Assembling & Servicing of Personal Computers, Computer Accessories Peripherals, Networking & Radio -Tele Communication Products in 2004.


                        In a highly challenging business environment CSL is dedicated in thriving itself with introducing new value propositions to its customers and continuously improving the quality standard to mark its position high in the industry. CSL is committed in providing the very best to its customers thus helping CSL in building a dedicated and loyal customer group throughout the country. The process followed at CSL to ensure a loyal customer group are comprised of but not limited to the following:</p>
                    <ul>
                        <li> Continued success is dependent on increasing the loyalty of customers.</li>
                        <li> Listening attentively to customers to truly understand their needs, then delivering solutions that translate into customer success which is essential to earn customer loyalty.</li>
                        <li> Competitive total cost of ownership, quality, inventiveness, and simplified work process drive customer loyalty. Thank you..</li>

                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p> </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}