{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="/images/macbook-air-m1-chip-gray-1-500x500.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <h2 class="noo-sh-title-top mt-5">We are <span>Miniport Technology</span></h2>
                    <p>In a highly challenging business environment MP is dedicated in thriving
                        itself with introducing new value propositions to its customers and continuously
                        improving the quality standard to mark its position high in the industry.
                        MP is committed in providing the very best to its customers thus helping
                        MP in building a dedicated and loyal customer group throughout the country.
                        The process followed at MP to ensure a loyal customer group are comprised
                        of but not limited to the following:</p>


                </div>
                <div class="col-lg-6 mt-5">
                    <p>In a highly challenging business environment CSL is dedicated in thriving
                        itself with introducing new value propositions to its customers and continuously
                        improving the quality standard to mark its position high in the industry.</p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="/images/samsung-galaxy-m51-8gb128gb-smartphone.jpeg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="/images/tplink3.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <p><ul>
                        <li> Continued success is dependent on increasing the loyalty of customers.</li>
                        <li> Listening attentively to customers to truly understand their needs, then delivering solutions that translate into customer success which is essential to earn customer loyalty.</li>
                        <li> Competitive total cost of ownership, quality, inventiveness, and simplified work process drive customer loyalty. Thank you..</li>

                    </ul></p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p> </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}